body {
  font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin:0
}
* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  background-color: #2c5e81;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.form-card {
  width: 250px;
  background-color: #e7eaed;
  border-radius: 10px;
  padding: 30px 15px;
}
.title {
  font-size: 20px;
  text-align: center;
}
.label {
  font-weight: 300;
  margin-bottom: 5px;
  margin-top: 20px;
}
.input {
  width: 100%;
  height: 40px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  border-radius: 0;
  padding: 5px;
}
.submit-btn {
  width: 100%;
  background-color: #275f82;
  border: none;
  color: #fff;
  height: 40px;
  margin-top: 20px;
}
.sign-gmail-btn {
  width: 100%;
  background-color: #275f82;
  border: none;
  color: #fff;
  height: 40px;
  margin-top: 20px;
}
/* Dashboard */
.dashboard-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 250px auto;
}
.users {
  background: linear-gradient(
    325deg,
    rgba(39, 107, 130, 1) 0,
    rgba(49, 84, 129, 1) 100%
  );
  height: 100vh;
  color: #fff;
  padding: 20px 15px;
}
.users .title {
  text-align: start;
  font-size: 23px;
}
.users ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.users ol li {
  background-color: #e6eaee;
  color: black;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
.main-content {
  background-color: #ffffff;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 60px;
}
.messages {
  background-color: #fff;
  width: 100%;
  padding: 20px;
}
.message {
  margin-bottom: 20px;
}
.message-user {
  font-size: 14px;
  font-weight: bold;
}
.message-time {
  font-weight: 300;
  color:#9d9d9d
}
.message-text{
  font-size: 15px;
  margin-top: 5px;
}
.message-footer {
  background-color: rgb(237, 235, 235);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}
.message-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 0;
  background-color: #fff;
  border: none;
}
.message-btn {
  padding: 10px;
  background-color: #275f82;
  border-radius: 0;
  border: none;
  margin-left: 10px;
  color: #fff;
}
